/*Universal Style*/
html{
    font-size: 13px;
}
*{
    font-family: 'Barlow Semi Condensed';
    box-sizing: border-box;
}
img{
    width: 20px;
    border-radius: 100%;
}
.tag-review{
    padding: 25px;
}
p{
    margin: 3px;
    margin-left: 0px;
    font-size: 1rem;
}
h2{
    font-size: 1.4rem;
}
.profile .profile-image{
    display: inline;
}
.profile .profile-content{
    display: inline-block;
    position: relative;
    left: 10px;
}
section p{
    line-height: 23px;
}

/*Use for tablet and desktop*/
@media only screen and (min-width:1080px) and (max-width:1440px){
    .container{
        border: 1px solid red;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    h2{
        width: 84%;
    }
    section p{
        width: 84%;
    }
    /*daniel tag*/
    .tag-review-danielclifford{
        grid-column-start: 1;
        grid-column-end: 3;
        border: 1px solid red;
    }
    
    /*jonathan tag*/
    .tag-review-jonathanwalter{
        grid-column-start: 3;
        grid-column-end: 4;
        border: 1px solid red;
    }
    /*kira tag*/
    .tag-review-kirawhittle{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        border: 1px solid red;

    }
    /*jeanette tag*/
    .tag-review-jeanetteharmon{
        border: 1px solid red;
    }
    
    /*patrick tag*/
    .tag-review-patrickabrams{
        grid-column-start: 2;
        grid-column-end: 4;
        border: 1px solid red;
    }
    
}
/*Use for mobile*/
@media only screen and (min-width:280px) and (max-width:435px){
    .tag-review{
        border: 1px solid red;
    }
}